<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAv15R8PVcFH57NZMU0cH7fDmI73EMJJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>200422882200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilimdler.app</string>
	<key>PROJECT_ID</key>
	<string>bilimapp-f3fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>bilimapp-f3fe2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200422882200:ios:de69e5e3c0b5b7f58689ed</string>
</dict>
</plist>